Repository bugout-dev/humbug, pull requests merged in 2021-04, with the labels that each got.

#53 Implementation of simple consent
  javascript/README.md
  javascript/src/consent.ts
  javascript/src/report.ts
Labels: javascript

#54 JavaScript release CI
  .github/workflows/release-javascript.yml
  javascript/README.md
  javascript/package.json
Labels: javascript

#62 Work only with token without journal id in javascript library
  javascript/README.md
  javascript/package.json
  javascript/src/report.ts
Labels: javascript

#63 Updated go dependencies
  go/go.sum
Labels: go

#61 Extracts classes bases with module names and self name, add them to tags
  python/humbug/report.py
  python/setup.py
Labels: python
